.main {
  width: 60%;
}

.prodsPay {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1rem;
}

.cartVoid {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartVoidIcon {
  font-size: 10rem;
}

.cartVoidButton {
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  padding: 3px 2rem;
  background-color: #ffcdb2;
  cursor: pointer;
}

.cartVoidButton:active {
  transform: scale(0.97);
}

.prodContainer {
  display: grid;
  gap: 2rem;
  color: rgb(51, 51, 51);
  grid-template-columns: 1fr 2fr 1fr 30px;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
  border: 2px solid rgb(255, 106, 106);
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 1.5rem;
}

.prodContainer img {
  min-width: 120px;
}

.nameLink h2 {
  margin: 3px 0;
  color: rgb(51, 51, 51);
}

.deleteIcon {
  cursor: pointer;
  transform: scale(1.2);
}

.pay {
  border: 2px solid rgb(255, 106, 106);
  padding: 10px;
  border-radius: 16px;
  height: 250px;
}

.spaceBw {
  display: flex;
  justify-content: space-between;
}

.payProd {
  margin: 1rem auto;
  font-size: 1rem;
  justify-content: center;
  width: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffcdb2;
  border: none;
  cursor: pointer;
  padding: 7px 0;
  border-radius: 4px;
}

.payProd:hover {
  background-color: #ffcdb295;
}

.payProd:active {
  transform: scale(0.96);
}
