/*Reset*/
html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}